{% import "pdf.macro.twig" as pdf %}
<!-- Template for two-column form field table structure:
<table class="two">
	<tr>
		<td><span class="field">FIELD:</span> <span class="value">VALUE</span></td>
		<td><span class="field">FIELD:</span> <span class="value">VALUE</span></td>
	</tr>
</table>

<table class="three">
	<tr>
		<td><span class="field">FIELD:</span> <span class="value">VALUE</span></td>
		<td><span class="field">FIELD:</span> <span class="value">VALUE</span></td>
		<td><span class="field">FIELD:</span> <span class="value">VALUE</span></td>
	</tr>
</table>
 -->
<html xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv=Content-Type content="text/html; charset=macintosh"/>

<!-- The css needs to be included here for mpdf to process it -->
<style type="text/css">
	{% include 'application/applicationPDF.css' %}
</style>
</head>
<body>

<!-- ================================================================================================================ -->
<!-- = page 1 -->
<!-- ================================================================================================================ -->


<h2 class='center'>UNIVERSITY OF MAINE</h2>
<h2 class='center'>APPLICATION FOR ADMISSION TO THE GRADUATE SCHOOL</h2>
<p align=center><b><span>Graduate School, 42 Stodder Hall, University of Maine, Orono, ME 04469-5755</span></b></p>
<div align=right style='margin: .5em;'><span>This application was submitted on: </span><b><span>{{ application.submittedDate }}</span></b></div>
<div align=right style='margin: .2em;'><span>External Application ID: </span><b><span>{{ application.id }}</span></b></div>
<div align=right style='margin: .2em;'><span>Method:</span><b><span>{{ application.transaction.pretty_paymentMethod }}</span></b></div>

{% set primary = application.personal %}
<h3>Basic Information</h3>
<div class="fieldset">
	<table class="two">
		<tr>
			{{ pdf.fieldValuePairTD('Full Name:', primary.familyName ~ ', ' ~ primary.givenName ~ ', ' ~ primary.middleName)}}
			{{ pdf.fieldValuePairTD('Gender:', primary.gender) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Maiden/Former Name:', primary.alternateName) }}
			{{ pdf.fieldValuePairTD('Date of Birth:', primary.dateOfBirth) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Social Security Number:', primary.socialSecurityNumber) }}
			{{ pdf.fieldValuePairTD('Place of Birth:', primary.placeOfBirth) }}
		</tr>
	</table>
     <hr size=1>
	<table class="two">
		<tr>
			{{ pdf.fieldValuePairTD('Present Occupation', primary.presentOccupation) }}
			{{ pdf.fieldValuePairTD('', '') }}
		</tr>
	</table>
    
	<hr size=1>
     <p class="note center bold">If you are a resident alien, please enclose a copy of your green card with your application.</p>

	<table class="two">
		<tr>
			{{ pdf.fieldValuePairTD('Country of Citizenship:', primary.countryOfCitizenship) }}
			{{ pdf.fieldValuePairTD('Residency Status:', primary.residencyStatus) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('If US Citizen, Legal State of Residence:', primary.pretty_usState) }}
			{{ pdf.fieldValuePairTD('', '') }}
		</tr>
	</table>
</div>

<h3>Ethnicity</h3>
<div class="fieldset">
	<p class="note">Note on Ethnicity: Colleges and universities are asked by many, including the federal government, accrediting associations, college guides, newspapers, and our own college/university communities, to describe the racial/ethnic backgrounds of our students and employees. In order to respond to these requests, we ask you to answer the following two questions:</span></p>
	<table class="two">
		<tr>
			{{ pdf.fieldValuePairTD('Hispanic/Latino:', application.ethnicity_hispa) }}
			{{ pdf.fieldValuePairTD('Other Ethnicity:', primary.nonHispanicEthnicities) }}
		</tr>
	</table>
</div>

<h3>Contact Information</h3>
<div class="fieldset">
	<table class="two">
		<tr>
			{% set permanentAddress = primary.permanentMailing %}
			{{ pdf.fieldValuePairTD('Primary Phone Number', permanentAddress.primaryPhone) }}
			{{ pdf.fieldValuePairTD('Primary Phone Number', permanentAddress.secondaryPhone) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('E-mail address', primary.email) }}
			{{ pdf.fieldValuePairTD('', '') }}
		</tr>
	</table>
	<hr size=1>
	<table class='two'>
		<tr>
			{% if primary.isMailingSameAsPermanent %}
				{% set mailingAddress = permanentAddress %}
			{% else %}
				{% set mailingAddress = primary.mailing %}
			{% endif %}
			{{ pdf.fieldValuePairTD('Permanent Address:', permanentAddress.fullAddress) }}
			{{ pdf.fieldValuePairTD('Mailing Address:', mailingAddress.fullAddress) }}
		</tr>
	</table>
</div>

<h3>Academic/Criminal History</h3>
<div class="fieldset">
	<p>{{ pdf.fieldValuePair('Have you ever been found responsible for a disciplinary violation at a post-secondary educational institution you have attended (or the international equivalent) whether related to academic misconduct or behavioral misconduct, that resulted in your suspension, removal, dismissal or expulsion from the institution?', application.pretty_hasDisciplinaryViolation) }}</p>
	
	{% for violation in application.disciplinaryViolations %}
		<p>
			{{ pdf.fieldValuePair('Date:', violation.date, false) }}<br />
			{{ pdf.fieldValuePair('Explanation:', violation.details, false) }}
		</p>
	{% endfor %}

	{{ pdf.fieldValuePair('Have you ever been convicted of a misdemeanor felony or
      other crime, or adjudicated of committing a juvenile crime?', application.pretty_hasCivilDisciplinary) }}
	  
	{% for violation in application.civilViolations %}
		<p>
			{{ pdf.fieldValuePair('Date:', violation.date, false) }}<br />
			{{ pdf.fieldValuePair('Explanation:', violation.details, false) }}
		</p>
	{% endfor %}
</div>

<h3>Educational Objectives</h3>
<div class="fieldset">
    
	<table class="two">
		<tr>
			{{ pdf.fieldValuePairTD('Proposed department of study:', application.degree.academic_program) }}
			{{ pdf.fieldValuePairTD('Intended Entry:', application.startInfo) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Degree you are seeking:', application.degree.academic_planName) }}
			{{ pdf.fieldValuePairTD('Attendance Status:', application.degree.pretty_academic_load) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Major Area of Interest:', application.degree.academic_major) }}
			{{ pdf.fieldValuePairTD('Minor Area of Interest:', application.degree.academic_minor) }}
		</tr>
	</table>

	<hr size=1>

	<table class="two">
		<tr>
			{{ pdf.fieldValuePairTD('Have you previously applied to this institution?:', primary.pretty_hasPrevUMGradApp_appExists) }}
			{{ pdf.fieldValuePairTD('', '') }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('When', primary.prevUMGradApp_date) }}
			{{ pdf.fieldValuePairTD('To what department?', primary.prevUMGradApp_dept) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Did you withdraw?', primary.pretty_prevUMGradWithdraw_exists) }}
			{{ pdf.fieldValuePairTD('When?', primary.prevUMGradWithdraw_date) }}
		</tr>

		<tr>
			{{ pdf.fieldValuePairTD('Do you wish to apply for an assistantship?', application.degree.pretty_isSeekingAssistantship) }}
			{{ pdf.fieldValuePairTD('', '') }}
		</tr>
		<tr>
			<td colspan="2">
				{{ pdf.fieldValuePair('Do you intend to apply for certification of eligibility under the New England Regional Student Program?', application.degree.pretty_isApplyingNebhe) }}
			</td>
		</tr>
		<tr>
			<td style='padding-top: 1em;' colspan="2">
				{{ pdf.fieldValuePair('University of Maine Faculty you have corresponded with regarding your application:', application.hasUmaineCorrespondent) }}
			</td>
		</tr>
	</table>
</div>

<!-- ================================================================================================================ -->
<!-- = page 2 -->
<!-- ================================================================================================================ -->

<h3>Previous Education</h3>
<table class="three box">
	<tr>
		{% for previousSchool in application.previousSchools %}
		<td>
			<p>
				<span class="value">{{ previousSchool.name }}</span><br />
				<span class="value">{{ previousSchool.city }}, {{ previousSchool.pretty_state }}</span><br />
				{{ pdf.fieldValuePair('Location if Outside US/Canada:', previousSchool.country) }}
				<br />
				{{ pdf.fieldValuePair('Dates Attended:', previousSchool.dateRange) }}
				<br />
				{{ pdf.fieldValuePair('Major:', previousSchool.major) }}
				<br />
				{{ pdf.fieldValuePair('Name of Degree or Diploma:', previousSchool.degreeEarned_name) }}
			</p>
		</td>	
		{% endfor %}
	</tr>
</table>

<h3>Previous GPA and Coursework</h3>
<div class="fieldset">
	<table class="two">
		<tr>
			{{ pdf.fieldValuePairTD('Cumulative undergraduate GPA:', primary.undergradGPA) }}
			{{ pdf.fieldValuePairTD('Cumulative post-baccalaureate GPA:', primary.postbaccGPA) }}
		</tr>
		<tr>
			<td style='padding-top: 1em;' colspan="2"><p><span class="field">List, by title, all courses in progress or courses you expect to take before enrolling at UM:</span></p></td>
		</tr>
		<tr>
			<td>
				<span class="value"><pre>{{ application.primary.previousCourseWork }}</pre></span>
			</td>
		</tr>
	</table>
</div>
  
<h3>Language Proficiency</h3>
<div class="fieldset">
	<table class="two">
		{% for language in languages %}
			<tr><td style='height: 5px;'></td></tr>
			<tr>
				{{ pdf.fieldValuePairTD('Language:', language.name) }}
				{{ pdf.fieldValuePairTD('Reading:', language.reading) }}
			</tr>
			<tr>
				{{ pdf.fieldValuePairTD('Speaking:', language.speaking) }}
				{{ pdf.fieldValuePairTD('Writing:', language.writing) }}
			</tr>
		{% endfor %}


		<tr>
			<td style='padding-top: 1em;'  colspan="2"><span class="field">If English is not your primary language, indicate the number of years you have studied English (give dates):</span></td>
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('In secondary or middle school:', application.englishYears_school) }}
			{{ pdf.fieldValuePairTD('', '') }}			
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('In university:', application.englishYears_univ) }}
			{{ pdf.fieldValuePairTD('', '') }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Under private auspices:', application.englishYears_private) }}
			{{ pdf.fieldValuePairTD('', '') }}
		</tr>
	</table>
</div>


<!-- ================================================================================================================ -->
<!-- = page 3 -->
<!-- ================================================================================================================ -->


  <h3>Graduate Record Examination</h3>
  <div class="fieldset">
	<table class="three">
		<tr>
			<td colspan="3">
				{{ pdf.fieldValuePair('Have you ever taken or intend to take the GRE?', primary.pretty_hasTakenGRE) }}
			</td>
		</tr>
		{% for gre in application.gres %}
			{% if not loop.first %}
				<tr><td colspan='3' style='font-size: 20px;'>
				----------------------------------------------------------------------------------------------------------
				</td></tr>
			{% endif %}
			<tr>
				{{ pdf.fieldValuePairTD('Verbal:', gre.verbal) }}
				{{ pdf.fieldValuePairTD('Quantitative', gre.quantitative) }}
				{{ pdf.fieldValuePairTD('Analytical Writing:', gre.analytical) }}
			</tr>
			<tr>
				{{ pdf.fieldValuePairTD('Subject:', gre.subject) }}
				{{ pdf.fieldValuePairTD('Score:', gre.score) }}
				{{ pdf.fieldValuePairTD('Date:', gre.date) }}
			</tr>
		{% endfor %}
	</table>
  </div>

  <h3>Graduate Management Admission Test</h3>
  <div class="fieldset">
	<table class="two">
		<tr>
			<td colspan='2'>
				{{ pdf.fieldValuePair('Have you ever taken or intend to take the GMAT?', primary.pretty_gmat_hasTaken) }}
			</td>
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('GMAT Score:', primary.gmat_score) }}
			{{ pdf.fieldValuePairTD('Date:', primary.gmat_date) }}
		</tr>
	</table>
  </div>
  <h3>Miller Analogies Test</h3>
  <div class="fieldset">
	<table class="two">
		<tr>
			<td colspan='2'>
				{{ pdf.fieldValuePair('Have you ever taken or intend to take the MAT?', primary.pretty_mat_hasTaken) }}
			</td>
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('MAT Score:', primary.mat_score) }}
			{{ pdf.fieldValuePairTD('Date:', primary.mat_date) }}
		</tr>
	</table>
  </div>
  <h3>Honors and Achievements</h3>
  <div class="fieldset">
	<p><span class="field">List any honors, prizes, or scholarships previously awarded to you on the basis of academic achievement, or any honor societies to which you have been elected.</span></p>
	<div>
		<span class="value"><pre>{{ primary.academicHonors }}</pre></span>
	</div>
	
  </div>
  <h3></h3>
  <div class="fieldset">
	
	<p><span class="field">List any employment or other activities related to your proposed program of study. If you have taught, name subjects. List published articles or books, research completed or in progress, or any other creative work.</span></p>
	<div>
		<span class="value"><pre>{{ primary.employmentHistory }}</pre></span>
	</div>
  </div>
  
  <h3>Recommendations</h3>

	
{% for reference in application.references %}
	{% if loop.index % 3 == 0 %}
		{% if not loop.first %}
			</tr></table>
		{% endif %}
		<table class="three box"><tr>
	{% endif %}
	<td>
		{% set address = reference.contactInformation %}
		<p><span class="value">{{ reference.fullName }}</span></p>
		<p><span class="value">{{ address.fullAddress | raw }}</span></p>
		<p>{{ pdf.fieldValuePair('Email:', reference.email) }}</p>
		<p>{{ pdf.fieldValuePair('Phone:', reference.primaryPhone) }}</p>
	</td>
	{% if loop.last %}
		</tr></table>
	{% endif %}
{% endfor %}
	

<!-- ================================================================================================================ -->
<!-- = page 4 -->
<!-- ================================================================================================================ -->
{% set international = application.international %}

<h3>Only to be Completed by Students who are not US Citizens</h3>
<div class="fieldset">
	<table class='two'>
		<tr>
			<td colspan='2'>
				{{ pdf.fieldValuePair('Have you taken or plan the TOEFL examination?', international.pretty_toefl_hasTaken) }}
			</td>
		<tr>
		<tr>	
			<td style='width: 17%;'>
				{{ pdf.fieldValuePair('Date:', international.toefl_date) }}
			</td>
			{{ pdf.fieldValuePairTD('Score:', international.score) }}
		</tr>
	</table>
	<p style='padding-top: 6px'>
		{{ pdf.fieldValuePair('Indicate the career you plan to pursue if you plan to remain in the United States after completion of studies (e.g., teaching, government, business, industry).', international.hasUSCareer) }}
		{{ pdf.fieldValuePair('', international.usCareerDetails) }}
	</p>
	<p>
		{{ pdf.fieldValuePair('If you plan to continue studies for another degree, describe briefly the subject, location, estimated beginning date, and approximate duration.', international.furtherStudiesDetails) }}
	</p>
	<p>
		{{ pdf.fieldValuePair('If you plan to return to your own country immediately after completing study or research, state the details (e.g., employer, location, type of work, estimated beginning date) that may be known to you.', international.homeCareerDetails) }}
	</p>
	<p>
		{{ pdf.fieldValuePair('How do you expect to finance your graduate study?', international.financeDetails) }}
	</p>
	<p>
		{{ pdf.fieldValuePair('List the names and addresses of any close relatives or friends in the United States (indicate relationship):', international.usFriendsOrRelatives) }}
		<br />
	</p>
		
	<table class="three">
		<tr>
			<td>
				<p>
					<span class="field">Emergency Contact in Your Home Country:</span><br />
					<span class='value'>{{ international.homeEmergencyContact_name }}</span><br />
					<span class="value">{{ international.homeEmergencyContactInfo.fullAddress | raw }}</span>
					<br />
					{{ pdf.fieldValuePair('Phone:', international.homeEmergencyContactInfo.primaryPhone) }}
					<br />
					{{ pdf.fieldValuePair('Relationship:', international.homeEmergencyContact_relationship) }}
				</p>
			</td>
		</tr>
	</table>
	<table class="two">
		<tr>
			<td>
				<p>
					<span class="field">Emergency Contact in the US:</span><br />
					<span class="value">{{ international.usEmergencyContact_name }}</span><br />
					<span class="value">{{ international.usEmergencyContactInfo.fullAddress | raw }}</span><br />
					{{ pdf.fieldValuePair('Phone:', international.usEmergencyContactInfo.primaryPhone) }}
					<br />
					{{ pdf.fieldValuePair('Relationship:', international.usEmergencyContact_relationship) }}
				</p>
			</td>
		</tr>
	</table>
  </div>
</body>
</html>
