{% extends 'application/sectionLayout.twig' %}
{% import "application/section.macro.twig" as section %}
{% import "forms.macro.twig" as forms %}

{% block pageName %}Application - International{% endblock %}

{% block form %}
{% set international = application.international %}

<form action="" method="post" autocomplete="off">
<fieldset id="international" name="international">
	<legend>International Information</legend>
	
	<span class="required"><p>Fields marked with * are required.</p></span>
	
	<fieldset class="nested">
		
		{{ forms.booleanDisplay( {'title':'Are you a citizen of the United States?',
				'name':'international-isInternationalStudent',
				'value':international.isInternationalStudent,
				'showOnTrue':false
			} ) }}
		<div style="clear:both"></div>
	</fieldset>

	<div style="clear:both"></div>

	<div class="hidden" id="international-isInternationalStudent_section">
		<fieldset id="toefl" name="toefl" class="nested">
			
			<legend>TOEFL Exam</legend>
				
				{{ forms.booleanDisplay( {'title':'Have you taken or plan to take the TOEFL examination?',
						'name':'international-toefl_hasTaken',
						'value':international.toefl_hasTaken,
						'showOnTrue':true
					} ) }}

		<div style="clear:both"></div>

		<div class="hidden" id="international-toefl_hasTaken_section">
	
			{{ forms.input({'title':'Date of Exam',
					'name':'international-toefl_date',
					'value':international.toefl_date,
					'size': 10,
					'maxLength':10,
					'help':'mm/dd/yyyy'
				} ) }}

			{{ forms.input({'title':'TOEFL Score',
					'name':'international-toefl_score',
					'value':international.toefl_score,
					'size': 7,
					'maxLength':10,
				} ) }}	

			<div style="clear:both"></div>
			
				{{ forms.boolean( {'title':'Has this score been reported to the University of Maine?',
						'name':'international-toefl_hasReported',
						'value':international.toefl_hasReported,
						'showOnTrue':false
					} ) }}			

			<div style="clear:both"></div>	
		
			<p class="message"><strong>Please have official scores sent directly to the graduate school from the testing institution:</strong> For TOEFL, Educational Testing Service, <a href="http://www.ets.org" class="text_link">www.ets.org</a>, institution code for UM (ORONO): 3916</p>

			<p class="message"><strong>Remember: International applicants are required to submit TOEFL score reports sent directly from ETS, unless they received a degree from an English speaking institution.</strong></p>
		</div>

		<div style="clear:both"></div>
	</fieldset><!-- end fieldset "toefl" -->

	<div style="clear:both"></div>
	
	<fieldset id="future_plans[{{INDEX}}]" name="future_plans" class="nested">
		<legend>Future Plans</legend>

			{{ forms.boolean( {'title':'Will you continue studies for another degree?',
					'name':'international-hasFurtherStudies',
					'value':international.hasFurtherStudies,
					'showOnTrue':false
				} ) }}			

		<div style="clear:both"></div>

		<div class="hidden" id="further_studies_section[{{INDEX}}]">		
			
			<!-- Need a form type for text area.... -->
			{{ forms.textarea( {'title':'Briefly describe the subject, location, estimated beginning date and approximate duration',
					'name':'international-furtherStudiesDetails',
					'value':international.furtherStudiesDetails,
					'cols': 60,
					'rows':5,
				} ) }}

		</div>

			{{ forms.boolean( {'title':'Will you pursue a career <strong>in the United States</strong> after completion of studies?',
					'name':'international-hasUSCareer',
					'value':international.hasUSCareer,
				} ) }}

		<div style="clear:both"></div>

		<div class="hidden" id="us_career_section[{{INDEX}}]">

			{{ forms.textarea( {'title':'Briefly describe the subject, location, estimated beginning date and approximate duration',
					'name':'international-usCareerDetails',
					'value':international.usCareerDetails,
					'cols': 60,
					'rows':5,
				} ) }}
	
		</div>
			
			{{ forms.boolean( {'title':'Will you pursue a career <strong>in your home country </strong> after completion of studies?',
					'name':'international-hasHomeCareer',
					'value':international.hasHomeCareer,
				} ) }}

		<div class="hidden" id="home_career_section">

			{{ forms.textarea( {'title':'Briefly describe the subject, location, estimated beginning date and approximate duration',
					'name':'international-homeCareerDetails',
					'value':international.homeCareerDetails,
					'cols': 60,
					'rows':5,
				} ) }}
		
		</div>

	</fieldset><!-- end fieldset "future_plans" -->

	<fieldset id="finances" name="finances" class="nested">
		<legend>Financial Details</legend>

		{{ forms.textarea( {'title':'How do you expect to finance your graduate study?',
				'name':'international-financeDetails',
				'value':international.financeDetails,
				'cols': 60,
				'rows':5,
			} ) }}
		
		<!-- need database field 'usFriendsOrRelatives' for this info -->
		{{ forms.textarea( {'title':'List the names and addresses of any close friends or relatives in the United States (indicate relationship)',
			'name':'international-usFriendsOrRelatives',
			'value':international.usFriendsOrRelatives,
			'cols': 60,
			'rows':5,
			} ) }}

	</fieldset>
	<div style="clear:both"></div>


	<fieldset class="nested">	
		<legend>United States Emergency Contact</legend>
		<p class="title">Please list a close friend or relative <b>in the United States</b> that should be contacted in case of emergency.</p>
		
		{% set usEmergencyContactInfo = international.usEmergencyContactInfo %}

		{{ forms.input( {'title':'Name', 
				'name':'international-usEmergencyContact_name',
				'value':international.usEmergencyContact_name,
				'size': 25,
				'maxLength':30
			} ) }}

		{{ forms.input( {'title':'Relationship', 
				'name':'international-usEmergencyContact_relationship',
				'value':international.usEmergencyContact_relationship,
				'size': 25,
				'maxLength':30
			} ) }}	

		{{ forms.input( {'title':'Phone Number', 
				'name':'international-usEmergencyContactInfo-primaryPhone',
				'value':usEmergencyContactInfo.primaryPhone,
				'size': 15,
				'maxLength':15
			} ) }}

		{{ forms.input( {'title':'Street', 
				'name':'international-usEmergencyContactInfo-streetAddress1',
				'value':usEmergencyContactInfo.streetAddress1,
				'size': 55,
				'maxLength':55
			} ) }}

		{{ forms.input( {'title':'Additional', 
				'name':'international-usEmergencyContactInfo-streetAddress2',
				'value':usEmergencyContactInfo.streetAddress2,
				'size': 55,
				'maxLength':55
			} ) }}

		{{ forms.input( {'title':'City', 
				'name':'international-usEmergencyContactInfo-city',
				'value':usEmergencyContactInfo.city,
				'size': 30,
				'maxLength':30
			} ) }}

		{{ forms.select( {'title':'State', 
				'name':'international-usEmergencyContactInfo-state',
				'value':usEmergencyContactInfo.state,
				'options': application.options_state
			} ) }}

		{{ forms.input( {'title':'Postal Code', 
				'name':'international-usEmergencyContactInfo-postal',
				'value':usEmergencyContactInfo.postal,
				'size': 15,
				'maxLength':15
			} ) }}
	
	</fieldset><!-- end fieldset "us_emergency_contact" -->

	<div style="clear:both"></div>

	<fieldset class="nested">
		<legend>Home Country Emergency Contact</legend>
		<p class="title">Please list a close friend or relative <strong>in your home country </strong> that should be contacted in case of emergency.</p>
		
		{% set homeEmergencyContactInfo = international.homeEmergencyContactInfo %}


		{{ forms.input( {'title':'Name', 
				'name':'international-homeEmergencyContact_name',
				'value':international.homeEmergencyContact_name,
				'size': 25,
				'maxLength':30
			} ) }}

		{{ forms.input( {'title':'Relationship', 
				'name':'international-homeEmergencyContact_relationship',
				'value':international.homeEmergencyContact_relationship,
				'size': 25,
				'maxLength':30
			} ) }}	

		{{ forms.input( {'title':'Phone Number', 
				'name':'international-homeEmergencyContactInfo-primaryPhone',
				'value':homeEmergencyContactInfo.primaryPhone,
				'size': 15,
				'maxLength':15
			} ) }}

		{{ forms.input( {'title':'Street', 
				'name':'international-homeEmergencyContactInfo-streetAddress1',
				'value':homeEmergencyContactInfo.streetAddress1,
				'size': 55,
				'maxLength':55
			} ) }}

		{{ forms.input( {'title':'Additional', 
				'name':'international-homeEmergencyContactInfo-streetAddress2',
				'value':homeEmergencyContactInfo.streetAddress2,
				'size': 55,
				'maxLength':55
			} ) }}

		{{ forms.input( {'title':'City', 
				'name':'international-homeEmergencyContactInfo-city',
				'value':homeEmergencyContactInfo.city,
				'size': 30,
				'maxLength':30
			} ) }}

		{{ forms.select( {'title':'State', 
				'name':'international-homeEmergencyContactInfo-state',
				'value':homeEmergencyContactInfo.state,
				'options': application.options_state
			} ) }}

		{{ forms.input( {'title':'Postal Code', 
				'name':'international-homeEmergencyContactInfo-postal',
				'value':homeEmergencyContactInfo.postal,
				'size': 15,
				'maxLength':15
			} ) }}


		{{ forms.select( {'title':'Country', 
					'name':'international-homeEmergencyContactInfo-country',
					'value':homeEmergencyContactInfo.country, 
					'options': application.options_country
				 }) }}
			
		<div style="clear:both;"></div>
	</fieldset><!-- end fieldset "home_emergency_contact" -->
</div>

	<div style="clear:both"></div>

	{{ section.buildPager(true, true, WEBROOT) }}

</fieldset>
</form>

{% endblock %}