{% extends 'basic_layout.twig' %}

{% block title %}{% block pageName %}{% endblock %}{% endblock %}

{% block head %}
	<!-- Stylesheets -->
	<link type="text/css" href="{{WEBROOT}}/styles/jquery/redmond/jquery-ui-1.10.1.custom.min.css" rel="Stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{WEBROOT}}/styles/app_manager_style.css" media="screen,print" />
	<link rel="stylesheet" type="text/css" href="{{WEBROOT}}/styles/section.css" media="screen,print" />

	<!-- Javascript libraries -->
	<script type="text/javascript" src="{{WEBROOT}}/js/ajaxupload.3.5.js" ></script>
	<script type="text/javascript" src="{{WEBROOT}}/js/form_helper.js"></script>
	<script type="text/javascript" src="{{WEBROOT}}/js/jquery/jquery-ui-1.10.1.custom.min.js"></script>

	<!-- Accessors -->
	<script type="text/javascript" src="{{WEBROOT}}/js/academics.js"></script>

	<script type="text/javascript" src='{{WEBROOT}}/js/section.js'></script>
	{% block headDetails %}{% endblock %}
{% endblock %}

{% block sidebar %}
	<a id='link-my-applications' href='/my-applications'>Return to All Applications</a>
	<div id="header"> Welcome {{NAME}} </div>
	<div id="progress"> Please submit all information that you can.<br>Press the “Review Application” button when you are ready. {{WARNINGS}} </div>

	<div id="sections"> {{SECTION_LINKS | raw }} </div>
	<div id="footer">
		<button class='command-href' id='review-application' data-href='{{WEBROOT}}/application/section/review'>Review Application</button>
		<button class='command-href' id='sign-out' data-href='{{WEBROOT}}/logout'>Sign Out</button>
		<button class='' id='save-command'>Save</button>
	</div>
{% endblock %}

{% block content %}	
	<noscript>
		<meta http-equiv="refresh" content="5; URL={{WEBROOT}}/no-javascript">
		<style type="text/css" media="screen">#form_pane, .topHeader, #sidebar_pane {display:none;}</style>
		<p id='noscript'>You do not have javascript enabled. In a moment you will be redirected to a page with instructions to enable JavaScript. If you are not redirected in five seconds, click <a href="{{WEBROOT}}/no-javascript">here</a>.</p>
	
	</noscript>

	<form id="validate_wrapper">
		<div id='form_pane'>
		{% block form %}{% endblock %}
		</div>
	</form>
	
{% endblock %}
