<!-- Macro: Previous-Link
	Create an HTML link to the previous section
	 -->
{% macro previousLink(name, WEBROOT) %} 
	<span style="float:left;">
		<a href="{{WEBROOT}}/application/section/previous" ><span class="chevron">&#0171;</span> {{name | default('Previous Section')}}</a>
	</span>
{% endmacro %}


<!-- Macro: Next-Link
	Create an HTML link to the next section
	 -->
{% macro nextLink(name, WEBROOT) %} 
<span style="float:right;">
	<a href="{{WEBROOT}}/application/section/next">{{name | default('Next Section')}} <span class="chevron">&#0187;</span></a>
</span>
{% endmacro %}

<!-- Macro: Build Pager
	Create a pager linking to previous and/or next sections
	 -->
{% macro buildPager(includePreviousLink, includeNextLink, WEBROOT) %}
	<div id="pager">
		<p>
			{% if includePreviousLink %}
				{% if includePreviousLink is sameas(false) or includePreviousLink is sameas(true) %}
					{{ _self.previousLink(null, WEBROOT) }}
				{% else %}
					{{ _self.previousLink(includePreviousLink, WEBROOT) }}
				{% endif %}
			{% endif %}
			{% if includeNextLink %}
				{% if includeNextLink is sameas(false) or includeNextLink is sameas(true) %}
					{{ _self.nextLink(null, WEBROOT) }}
				{% else %}
					{{ _self.nextLink(includeNextLink, WEBROOT) }}
				{% endif %}

			{% endif %}
		</p>
	</div>
{% endmacro %}


<!-- Macro: Add Subsection Button
	 -->
{% macro addSubSectionButton(title, name) %}
	<button onClick="addRepeatableOfType('{{name}}');" class="button green small add" type="button" title="Add">+ {{title}}</button>
{% endmacro %}

<!-- Macro: remove Subsection Button
	 -->
{% macro removeSubSectionButton(id) %}
	<button class="button red small remove" type="button" onClick='removeRepeatableWithId("{{id}}"); return false;' title="Remove">Remove</button>
{% endmacro %}
