<div id="{{TABLE_NAME}}_{{INDEX}}" class="{{HIDE}}">
	<fieldset class="nested">
		<button class="button red small remove" type="button" onClick='removeItem("{{TABLE_NAME}}_{{INDEX}}",{{USER}}); return false;' title="Remove">Remove</button>

		{{ forms.input({'title':'Approximate date of incident',
				'name':'cviolation-date-#' ~ cviolation.id,
				'value':cviolation.date,
				'size': 14,
				'maxLength':7,
				'help':'mm/dd/yyyy'
			} ) }}
			
		{{ forms.textarea( {'title':'Please give the approximate date of each incident and explain the circumstances.',
					'name':'cviolation-details-#' ~ cviolation.id,
					'value':cviolation.details,
					'cols': 60,
					'rows':5,
				} ) }}

	</fieldset>
	<div style="clear:both;"></div>
</div>
