{% import "forms.macro.twig" as forms %}
{% import "application/section.macro.twig" as section %}

<div id="GRE-#{{gre.id}}" class="{% if hide %}hidden{% endif %} gre">
	<fieldset class="nested" >
		
		{{ section.removeSubSectionButton('GRE-#' ~ gre.id ) }}
		
		<h2>GRE Score</h2>

		{{ forms.input({'title':'Date of Exam',
				'name':'gre-date-#' ~ gre.id,
				'value':gre.date,
				'size': 14,
				'maxLength':7,
				'help':'mm/yyyy'
			} ) }}

		{{ forms.input({'title':'Verbal',
				'name':'gre-verbal-#' ~ gre.id,
				'value':gre.verbal,
				'size': 3,
				'maxLength':3,
			} ) }}

		{{ forms.input({'title':'Quantitative',
				'name':'gre-quantitative-#' ~ gre.id,
				'value':gre.quantitative,
				'size': 3,
				'maxLength':3,
			} ) }}		

		{{ forms.input({'title':'Analytical',
				'name':'gre-analytical-#' ~ gre.id,
				'value':gre.analytical,
				'size': 3,
				'maxLength':3,
			} ) }}

		{{ forms.input({'title':'Subject Score',
				'name':'gre-score-#' ~ gre.id,
				'value':gre.score,
				'size': 3,
				'maxLength':3,
			} ) }}

		<div style="clear:both;"></div>

		{{ forms.select( {'title':'GRE Subject',
				'name':'gre-subject-#' ~ gre.id,
				'value': gre.subject,
				'options': gre.options_subject
			 }) }}

		<div style="clear:both;"></div>

		{{ forms.boolean( {'title':'Has this score been reported to the University of Maine?',
			'name':'gre-hasBeenReported-#' ~ gre.id,
			'value':gre.hasBeenReported
				} ) }}

		<div style="clear:both;"></div>
	</fieldset>

	<div style="clear:both;"></div>
</div>
