<div id="{{TABLE_NAME}}_{{INDEX}}" class="{{HIDE}}">
	<fieldset class="nested">
		<button class="button red small remove" type="button" onClick='removeItem("{{TABLE_NAME}}_{{INDEX}}",{{USER}});' title="Remove">Remove</button>

		{{ forms.input( {'title':'Institution',
				'name':'previousSchool-name-#' ~ previousSchool.id,
				'value':previousSchool.name,
				'size':30,
				'maxLength':30
			 } ) }}
		
		{{ forms.input( {'title':'City',
				'name':'previousSchool-city-#' ~ previousSchool.id,
				'value':previousSchool.city,
				'size':30,
				'maxLength':30
			 } ) }}

		<div style="clear:both"></div>
	
		{{ forms.select( {'title':'State/Province',
				'name': 'previousSchool-state-#' ~ previousSchool.id,
				'value': lpreviousSchool.state,
				'options': previousSchool.options_state
			 }) }}
		
		{{ forms.select( {'title':'Country',
				'name':'previousSchool-country-#' ~ previousSchool.id,
				'value':previousSchool.country,
				'options': previousSchool.options_country
			 } ) }}
		
		<div style="clear:both"></div>

		{{ forms.input({'title':'From Date',
				'name':'previousSchool-startDate-#' ~ previousSchool.id,
				'value':previousSchool.startDate,
				'size': 14,
				'maxLength':7,
				'help':'mm/dd/yyyy'
			} ) }}
		
		{{ forms.input({'title':'To Date',
				'name':'previousSchool-endDate-#' ~ previousSchool.id,
				'value':previousSchool.endDate,
				'size': 14,
				'maxLength':7,
				'help':'mm/dd/yyyy'
			} ) }}
	
		{{ forms.input({'title':'Major',
				'name':'previousSchool-major-#' ~ previousSchool.id,
				'value':previousSchool.major,
				'size': 30,
				'maxLength':30,
			} ) }}

		<div style="clear:both"></div>
	
		{{ forms.input({'title':'Degree or Diploma',
				'name':'previousSchool-degreeEarned_name-#' ~ previousSchool.id,
				'value':previousSchool.degreeEarned_name,
				'size': 30,
				'maxLength':30,
			} ) }}
	
		{{ forms.input({'title':'Date Received or Expected',
				'name':'previousSchool-degreeEarned_date-#' ~ previousSchool.id,
				'value':previousSchool.degreeEarned_date,
				'size': 14,
				'maxLength':7,
				'help':'mm/dd/yyyy'
			} ) }}

		<div style="clear:both;"></div>
	</fieldset>
	<div style="clear:both;"></div>
</div>
