<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
<head>
	<link rel="shortcut icon" href="{{FAVICON}}" />		
	<!-- charset must remain utf-8 to be handled properly by Processing -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{IMAGEPATH}}/grad_favicon.ico" />
	
	<link rel="stylesheet" href="{{CSSPATH}}/reset.css" type="text/css" />
	<link rel="stylesheet" href="{{CSSPATH}}/baseTheme.css" type="text/css" />
	
	<!-- Javascript libraries -->
	<script type="text/javascript" src='{{JSPATH}}/jquery/jquery-1.9.1.min.js'></script>	
	<script type="text/javascript" src="{{JSPATH}}/jquery/jquery.validate.min.js"></script>
	
	<script type="text/javascript" src="{{JSPATH}}/browser_check.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{JSPATH}}/gradapp.js"></script>
	
	<!-- Add HTML5 support to IE browser < v9 -->
	<!--[if lt IE 9]>
	<script src="{{JSPATH}}/html5shiv.js"></script>
	<![endif]-->

	<script>
	var WEBROOT = '{{WEBROOT}}';
	</script>
	{% block head %}{% endblock %}
</head>
	
	<body onLoad="doBrowserCheck();">
		<div id='page'>
			<header class="topHeader">
				<a href="{{GRADHOMEPAGE}}">&nbsp;</a>
				<h1>{% block pageTitle %}{% endblock %}</h1>
			</header>
			<section id='content-{{TEMPLATENAME|replace({' ': '-'})}}' class="content">
				<header class="loggedIn javascript-required">
					{% if ISLOGGEDIN %}
						Welcome <span style="font-weight:bold;">{{EMAIL}}</span>&nbsp;&nbsp;&nbsp;[&nbsp;<a href="/logout">Sign Out</a>&nbsp;]
					{% endif %}
				</header>

				<div id='sidebarPane' class='javascript-required'>
					{% block sidebar %}{% endblock %}
				</div>

				{% block content %}{% endblock %}				
			</section>
			<div class='push'></div>
			
		</div>
		<footer id='site-footer-container'>
			<div class="gradFooter">
				The University of Maine, Orono, Maine 04469 <br />
					(207) 581-3291 <br />
				A Member of the University of Maine System
			</div>
		</footer>

	</body>
</html>