{% extends 'pageLayout.twig' %}
{% import "forms.macro.twig" as forms %}

{% block title %}Apply to the University of Maine Graduate School{% endblock %}
{% block pageTitle %}Online Application{% endblock %}
{% block head %}
<script type="text/javascript" charset="utf-8" src='{{JSPATH}}/loginPage.js'></script>

{% endblock %}

{% block content %}

	<div id="signin" class='shortFormContainer'>
		<div id="success_msg">{{ flash['success'] | raw}}</div>
		<div id='errors'>{{ flash['errors'] | raw }}</div>
		<form id="signinForm" class='shortForm' method="post" accept-charset="utf-8">
			<fieldset>
				<legend>Sign In</legend>
				<label for="email">
					<p class="title">e-mail address</p>
					<input type="text" spellcheck="false" class="required email" name="email" id="email" size="27"/>
				</label>
				<label for="password">
					<p class="title">password</p>
					<input type="password" class="required" name="password" id="password" size="27"/>
				</label>


				<input type="hidden" name="form_name" value="signIn" id="whichform"/>
				<input type="submit" name="signin" value="Sign In"/>
				<a class='stand-alone' href="{{WEBROOT}}/account/forgot-password">forgot password?</a>
				<a class='stand-alone' href="{{WEBROOT}}/account/create-account">Create Account</a>

				<div style="clear:both"></div>
			</fieldset>
		</form>
	</div>


{% endblock %}
