{% extends "pageLayout.twig" %}

{% block title %}My Applications{% endblock %}
{% block pageTitle %}My Applications{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{CSSPATH}}/myApplications.css" type="text/css" />
	<link rel="stylesheet" href="{{CSSPATH}}/jquery/redmond/jquery-ui-1.10.1.custom.min.css" />
 
	<script type="text/javascript" src='{{JSPATH}}/jquery/jquery-ui-1.10.1.custom.min.js'></script>	
	<script type="text/javascript" src='{{JSPATH}}/moment.js'></script>
	<script type="text/javascript" src='{{JSPATH}}/myApplications.js'></script>

{% endblock %}

{% block content %}

	{% include 'noJavascriptCheckSnippet.twig' %}

<div class='javascript-required'>
	<button class='small green' id='create-application'>Create New Application</button>

	<br>

	<table id='my-Applications'>
		<form>
		</form>
		<thead>
			<tr>
				<td>Type</td>
				<td>Created</td>
				<td>Last Modified</td>				
				<td>Status</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% if applications|length == 0 %}
			<tr><td id='no-applications' colspan='4'>No Applications</td></tr>
			{% endif %}
			{% for application in applications %}
			<tr data-application="{{application.id}}" class='{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}'>
				<td class='application-type'>{{application.type}}</td>
				<td><time class='created'>{{application.createdDate}}</time></td>
				<td><time class='lastModified'>{{application.lastModified}}</time></td>				
				<td>{{application.status}}</td>
				<td>
					{% if application.hasBeenSubmitted == 0 %}
						<button class='small green edit-application'>Edit</button>
						<button class='small red red delete-application'>Delete</button>
					{% else %}
						<button class='small red red view-application'>View</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class='clear'></div>

 
	<div id="create-application-modal" title="Create New Application">
		<p>Choose an application type below to get started</p>
		<form action='{{WEBROOT}}/create-application'>
			<fieldset>
				<ul>
					{% for type in types %}
					<li>
						<input type='radio' id='{{type.name|replace({' ': '-'})}}' name='application-type' value='{{type.applicationTypeId}}'/>
						<label for='{{type.name|replace({' ': '-'})}}'><dfn>{{type.name}}</dfn> - {{type.description}}</label>
					</li>
					{% endfor %}
				</ul>
			</fieldset>
			<input type='submit' value='Begin Application' />
		</form>
	</div>
</div>
{% endblock %}



				
