{% extends "pageLayout.twig" %}

{% block title %}Letter of Recommedation{% endblock %}
{% block pageTitle %}Submit Recommendation{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{{CSSPATH}}/recommendationForm.css" />

<script type="text/javascript" charset="utf-8">
	// stop the return/enter key from accidentally submitting the form
	// the last field is a textarea anyway, which you wouldn't submit with the Return key,
	// so this won't interfere wth normal user operation at all
	function stopRKey(evt) { 
	  var evt = (evt) ? evt : ((event) ? event : null); 
	  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
	  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
	}
	document.onkeypress = stopRKey;
</script>

{% endblock %}

{% block content %}
<div id="forgot" class='shortFormContainer'>
	<div id="recoverform">
		<div id="" class="">
			<p>Letter of Recommendation to: <br/> <strong>THE GRADUATE SCHOOL,</strong><br />
			The University of Maine, 5755 Stodder Hall, Room 42, Orono, ME 04469-5755<br />
			Telephone: (207) 581-3220<br/> 
			Email: <a href="mailto:graduate@maine.edu">graduate@maine.edu</a></p>
		</div>
	</div>
	<form method="post" id="recform" name="recform">
		<fieldset class='nested'>
			<legend>
				Applicant&rsquo;s Information
			</legend>
										
			<p><strong>Name:</strong> {{application.fullName}}</p>
			<p><strong>Email Address:</strong> {{application.personal.email}}</p>
			
			
	
			<p><strong>Waiver of Viewing Rights</strong></p>
			<p>The Family Educational Rights and Privacy Act of 1974 (P.L. 93-380) gives students access to information in their application files. However, to ensure that references will be free to write a candid letter of recommendation, an applicant may waive the right to see letters of reference.</p>
			<p class="important">The applicant {% if application.waiveReferenceViewingRights == 1 %}has{% else %}has not{% endif %} waived the right to view this recommendation.</p>
		</fieldset>
	
		<fieldset>
			<legend>
				Recommender&rsquo;s Information
			</legend>
		
			<p><label for="firstName">First Name<br />
				<input type="text" id="firstName" name="firstName" maxlength="40" size="40" value="{{ reference.firstName }}"/>
			</label></p>
		
			<p><label for="lastName">Last Name<br />
				<input type="text" id="lastName" name="lastName" maxlength="40" size="40" value="{{ reference.lastName }}"/>
			</label></p>
		
			<p><label for="title">Title<br />
				<input type="text" id="title" name="title" maxlength="40" size="40"/>
			</label></p>
		
			<p><label for="employer">Employer<br />
				<input type="text" name="employer" maxlength="40" size="40"/>
			</label></p>
		
			<p><label for="email">Email<br />
				<input type="text" id="email" name="email" maxlength="40" size="40" value="{{ reference.email }}"/>
			</label></p>
		
			<p><label for="phone">Phone<br />
				<input type="text" id="phone" name="phone" maxlength="20" size="20" value="{% if reference.contactInformation.primaryPhone %}{{ reference.contactInformation.primaryPhone }}{% endif %}"/>
			</label></p>
	
		</fieldset>
		<fieldset>
			<legend>Summary Evaluation</legend>
		
			<p>In comparison with a representative group of students in the same field who have had approximately the same amount of experience and training, how do you rate the applicant in:</p>
		
			<table>
				<tr>
					<th rowspan="2" span="col" id="firstcell"></th>
					{% for value,option in recommendation.options_scores_woNumbers %}
						<th span="col">{{option}}</th>
					{% endfor %}
				</tr>
				<tr>
					<td>Lowest 40%</td>
					<td>Middle 20%</td>
					<td>Next 15%</td>
					<td>Next Highest 15%</td>
					<td colspan="3">Highest 10%</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<strong>Academic Ability<br /> and Potential<br /> for Graduate Work</strong>
					</td>
					<td>
					<input type="radio" value="1" name="academicAbility" title="Below Average"/>
					</td>
					<td>
						<input type="radio" value="2" name="academicAbility" title="Average"/>
					</td>
					<td>
						<input type="radio" value="3" name="academicAbility" title="Somewhat Above Average"/>
					</td>
					<td>
						<input type="radio" value="4" name="academicAbility" title="Good"/>
					</td>
					<td>
						<input type="radio" value="5" name="academicAbility" title="Unusual"/>
					</td>
					<td>
						<input type="radio" value="6" name="academicAbility" title="Outstanding"/>
					</td>
					<td>
						<input type="radio" value="7" name="academicAbility" title="Truly Exceptional"/>
					</td>
					<td>
						<input type="radio" value="8" name="academicAbility" title="Unable to Judge"/>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Motivation for the<br /> Proposed Program of Study<strong>
					</td>
					<td>
						<input type="radio" value="1" name="motivation" title="Below Average"/>
					</td>
					<td>
						<input type="radio" value="2" name="motivation" title="Average"/>
					</td>
					<td>
						<input type="radio" value="3" name="motivation" title="Somewhat Above Average"/>
					</td>
					<td>
						<input type="radio" value="4" name="motivation" title="Good"/>
					</td>
					<td>
						<input type="radio" value="5" name="motivation" title="Unusual"/>
					</td>
					<td>
						<input type="radio" value="6" name="motivation" title="Outstanding"/>
					</td>
					<td>
						<input type="radio" value="7" name="motivation" title="Truly Exceptional"/>
					</td>
					<td>
						<input type="radio" value="8" name="motivation" title="Unable to Judge"/>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset>
			<legend>Recommendation</legend>
			<div class='radio-group-header'>This recommendation may be used for:</div>
			<div class='col2'>
				{% for value,name in recommendation.options_reuse %}
					<span class='radio-selection'>
						<input type='radio' name='programReuse' value='{{value}}'/>
						<label>{{ name }}</label>
					</span>
				{% endfor %}
			</div>
			<div>Please List: <input type='text' name='reusablePrograms' style='width: 80%;'/></div>

			<div class='radio-group-header'>This recommendation may be used for:</div>
			<div class='col3'>
				{% for value,name in recommendation.options_lifetime %}
					<span class='radio-selection'>
						<input type='radio' name='lifetime' value='{{value}}'/>
						<label>{{ name }}</label>
					</span>
				{% endfor %}
			</div>

			<br>

			<p>What is your estimate of the applicant&rsquo;s promise as a graduate student and promise of professional success? What are the applicants greatest strengths and weaknesses? Please state the extent of your acquaintance with the applicant. If possible, please compare the student with any others in the same field at a similar stage in his/her career. Please give your evaluation of the applicant&rsquo;s qualifications for an assistantship.</p>
	
			<p class="note"><strong>Please Note:</strong> Please provide the same kind of recommendation you would supply were you to print and mail your letter. Hence, we strongly recommend that you compose your letter normally, save it, then copy it into the space provided in this form. We also strongly recommend that you save your written recommendation in a text editor such as Notepad before copying and pasting it into the space provided on the form.</p>
	
			<!-- <p class="note important"><strong>Please Note:</strong> If copying/pasting into the text boxes below, please paste UNFORMATTED text. To do this, please save original source of text as a TEXT DOCUMENT and copy and paste from that file. If you try to copy and paste FORMATTED text from a word processing program (i.e. WORD or WORDPERFECT) you could receive an error and your nomination will NOT submit correctly.</p> -->
		
			<textarea name="recommendation" id="essay"></textarea>
			<div style="clear:both"></div>
	
		<p class="note important"><strong>Please Note:</strong> If you follow the directions above and still receive an error when submitting, please send your recommendation within an email (or as an attachment within an email) to the University of Maine Graduate School at <a href="mailto:graduate@maine.edu">graduate@maine.edu</a></p>
		</fieldset>
		<input type="hidden" name="applicationHashReference" value="{{application.hashReference}}" />
		<input type="submit" name="submit" value="Submit Recommendation" id="submit"/>
	</form>
</div>

{% endblock %}