{% import "pdf.macro.twig" as pdf %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<style type="text/css">
		{% include 'letterOfRecommendation/recommendationPDF.css' %}
	</style>
</head>
<body>

<h1>UMAINE GRADUATE SCHOOL RECOMMENDATION</h1>
<p class="right">
	<strong>{{ pdf.fieldValuePair('Date Received:', recommendation.dateCreated) }}</strong>
</p>

<h2 class='section'>Applicant Information</h2>
<div class="fieldset">
	<table>
		<tr>
			{{ pdf.fieldValuePairTD('Name:', application.fullName) }}
			{{ pdf.fieldValuePairTD('Date of Birth:', application.personal.birth_date) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Maiden/Former Name:', application.personal.alternativeName) }}
			<td><span class="field">Email Address:</span> <span class="value email">{{ application.personal.email }}</span></td>			
	</table>
</div>

<h4><b>This applicant {{ application.pretty_waiveReferenceViewingRights }} waived their rights to view this recommendation.</b></h4>

<h2 class='section'>Recommender Information</h2>
<div class="fieldset">
	<table>
		<tr>
			{{ pdf.fieldValuePairTD('Name:', recommendation.fullName) }}
			{{ pdf.fieldValuePairTD('Title:', recommendation.title) }}
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Employer:', recommendation.employer) }}
			<td><span class="field">Email Address:</span> <span class="value email">{{ recommendation.email }}</span></td>
		</tr>
		<tr>
			{{ pdf.fieldValuePairTD('Phone Number:', recommendation.phone) }}
			<td></td>
		</tr>
	</table>
</div>

<h2 class='section'>Summary Evaluation Ratings (1 = lowest, 7 = highest)</h2>

<p><span class="field">Academic Ability and Potential for Graduate Work:</span> <strong><span class="value">{{ recommendation.pretty_academicAbility }}</span></strong></p>

<p><span class="field">Motivation for the Proposed Program of Study:</span> <strong><span class="value">{{ recommendation.pretty_motivation }}</span></strong></p>

<p>&nbsp;</p>
<p>
	{{ pdf.fieldValuePair('This recommendation may be used for:', recommendation.pretty_programReuse) }}
</p>
{% if recommendation.programReuse == 1 %}
	<p><span class="value" style='margin-left: 10px;'>{{ recommendation.reusablePrograms }}</span></p>
{% endif %}
<p>
	{{ pdf.fieldValuePair('This recommendation may be used for:', recommendation.pretty_lifetime) }}
</p>

<p>&nbsp;</p>	
<p>Recommendation:</p>

<p><b><pre>{{ recommendation.recommendation }}</pre></b></p>


</body>
</html>


				
