{% import "forms.macro.twig" as forms %}
{% import "application/section.macro.twig" as section %}

<div id="language-#{{language.id}}" class="{% if hide %}hidden{% endif %} language">
	<fieldset class="nested">
		
		{{ section.removeSubSectionButton('language-#' ~ language.id ) }}

		{{ forms.input( {'title':'Language',
					'name':'language-language-#' ~ language.id,
					'value':language.language,
					'size':20,
					'maxLength':20
				 } ) }}

		{{ forms.select( {'title':'Writing Proficiency',
					'name': 'language-proficiency_writing-#' ~ language.id,
					'value': language.proficiency_writing,
					'options': language.options_proficiency
				 }) }}

		{{ forms.select( {'title':'Reading Proficiency',
					'name':'language-proficiency_reading-#' ~ language.id,
					'value': language.proficiency_reading,
					'options': language.options_proficiency
				 }) }}

		{{ forms.select( {'title':'Speaking Proficiency',
					'name':'language-proficiency_speaking-#' ~ language.id,
					'value': language.proficiency_speaking,
					'options': language.options_proficiency
				 }) }}

	</fieldset>
	<div style="clear:both;"></div>
</div>
