{% import "forms.macro.twig" as forms %}
{% import "application/section.macro.twig" as section %}

<div id="previousSchool-#{{previousSchool.id}}" class="{% if hide %}hidden{% endif %} previousSchool">
	<fieldset class="nested">
		{{ section.removeSubSectionButton('previousSchool-#' ~ previousSchool.id ) }}		

		{{ forms.input( {'title':'Institution',
				'name':'previousSchool-name-#' ~ previousSchool.id,
				'value':previousSchool.name,
				'size':30,
				'maxLength':30
			 } ) }}
		
		{{ forms.input( {'title':'City',
				'name':'previousSchool-city-#' ~ previousSchool.id,
				'value':previousSchool.city,
				'size':30,
				'maxLength':30
			 } ) }}

		<div style="clear:both"></div>
	
		{{ forms.select( {'title':'State/Province',
				'name': 'previousSchool-state-#' ~ previousSchool.id,
				'value': previousSchool.state,
				'options': previousSchool.options_state
			 }) }}
		
		{{ forms.select( {'title':'Country',
				'name':'previousSchool-country-#' ~ previousSchool.id,
				'value':previousSchool.country,
				'options': previousSchool.options_country
			 } ) }}
		
		<div style="clear:both"></div>

		{{ forms.input({'title':'From Date',
				'name':'previousSchool-startDate-#' ~ previousSchool.id,
				'value':previousSchool.startDate,
				'size': 14,
				'maxLength':7,
				'help':'mm/yyyy'
			} ) }}
		
		{{ forms.input({'title':'To Date',
				'name':'previousSchool-endDate-#' ~ previousSchool.id,
				'value':previousSchool.endDate,
				'size': 14,
				'maxLength':7,
				'help':'mm/yyyy'
			} ) }}
	
		{{ forms.input({'title':'Major',
				'name':'previousSchool-major-#' ~ previousSchool.id,
				'value':previousSchool.major,
				'size': 30,
				'maxLength':30,
			} ) }}

		<div style="clear:both"></div>
	
		{{ forms.input({'title':'Degree or Diploma',
				'name':'previousSchool-degreeEarned_name-#' ~ previousSchool.id,
				'value':previousSchool.degreeEarned_name,
				'size': 30,
				'maxLength':30,
			} ) }}
	
		{{ forms.input({'title':'Date Received or Expected',
				'name':'previousSchool-degreeEarned_date-#' ~ previousSchool.id,
				'value':previousSchool.degreeEarned_date,
				'size': 14,
				'maxLength':7,
				'help':'mm/yyyy'
			} ) }}

		<div style="clear:both;"></div>
	</fieldset>
	<div style="clear:both;"></div>
</div>
