{% extends 'application/section.twig' %}
{% import "application/section.macro.twig" as section %}

{% block form %}

<form id="history_form" action="" method="post" autocomplete="off">
<input type="hidden" id="user_id" value="{{USER}}"/>
<fieldset id="educational_history" name="educational_history">
	<span class="required"><p>Fields marked with * are required.</p></span>

	<legend>Educational History</legend>

<fieldset id="previous_app" name="previous_app" class="nested">
	<legend>Previous Application to University of Maine</legend>

	{{ forms.booleanDisplay( {'title':'Have you previously applied to the University of Maine?',
			'name':'personal-prevUMApp_exists',
			'value':application.personal.prevUMApp_exists,
			'showOnTrue':false
		} ) }}

	<div style="clear:both;"></div>

	<div class="hidden" id="prev_um_app_section">
		
		{{ forms.booleanDisplay( {'title':'For a graduate program?',
			'name':'personal-prevUMGradApp_exists',
			'value':application.personal.prevUMGradApp_exists,
			'showOnTrue':false
		} ) }}


		<div style="clear:both"></div>

		<div class="hidden" id="prev_um_grad_app_section">
			
			{{ forms.input( {'title':'When did you apply?',
					'name':'personal-prevUMGradApp_date',
					'value':application.personal.prevUMGradApp_date,
					'size':14,
					'maxLength':7
				} ) }}

			{{ forms.select( {'title':'To which department?',
					'name':'personal-prevUMGradApp_dept',
					'value':application.personal.prevUMGradApp_dept,
					'options':application.options_dept
				} ) }}

			<div style="clear:both"></div>

			
			{{ forms.input( {'title':'Degree awarded',
					'name':'personal-prevUMGradApp_degree',
					'value':application.personal.prevUMGradApp_degree,
					'size':31,
					'maxLength':30
				} ) }}

			{{ forms.input( {'title':'Date awarded',
					'name':'personal-prevUMGradApp_degreeDate',
					'value':application.personal.prevUMGradApp_degreeDate,
					'size':14,
					'maxLength':7
				} ) }}
	

			<div style="clear:both"></div>

			{{ forms.booleanDisplay( {'title':'Did you withdraw?',
				'name':'personal-prevUMGradWithdraw_exists',
				'value':application.personal.prevUMGradWithdraw_exists,
				'showOnTrue':false
			} ) }}
	
			<div style="clear:both;"></div>

			<div class="hidden" id="prev_um_grad_withdraw_section">
				
				{{ forms.input( {'title':'Date withdrawn',
					'name':'personal-prevUMGradWithdraw_date',
					'value':application.personal.prevUMGradWithdraw_date,
					'size':14,
					'maxLength':7
				} ) }}

			</div>

		</div>

	</div>

	<div style="clear:both"></div>
</fieldset><!-- end fieldset "previous_app" -->

<div style="clear:both"></div>

<fieldset id="previous_schools" name="previous_schools" class="nested">
	<legend>Previously Attended Institutions</legend>
	<p class="title">List in chronological order all institutions of collegiate standing, and location, that you have attended. Include dates of entering and leaving, degrees received or for which you are a candidate. Official transcripts must be sent <b>directly</b> from these institutions to the Graduate School. The Graduate School will obtain all transcripts from the University of Maine System campuses.<br />
	<b>No decision can be made until all your transcripts are received in this office.</b></p>

	
	<div id="{{PREVIOUSSCHOOLS_LIST}}">
		{{PREVIOUSSCHOOLS_REPEATABLE}}
	</div>

	<div style="clear:both"></div>

	<button class="button green small add" type="button" onClick="addItem('{{PREVIOUSSCHOOLS_TABLE_NAME}}'); return false;" title="Add">+ Add Another Institution</button>


	<div style="clear:both"></div>
</fieldset><!-- end fieldset "previous_schools" -->

<div style="clear:both"></div>

<fieldset id="grade_information" class="nested">
	<legend>Grade Information</legend>

	{{ forms.input( {'title':'Cumulative undergraduate grade point average',
			'name':'personal-undergradGPA',
			'value':application.personal.undergradGPA,
			'size':4,
			'maxLength':4
		} ) }}

	{{ forms.input( {'title':'Cumulative post-baccalaureate grade point average',
			'name':'personal-postbaccGPA',
			'value':application.personal.postbaccGPA,
			'size':4,
			'maxLength':4
		} ) }}

	<div style="clear:both"></div>

	<label for="preenroll_courses">
		<p class="title">List, by title, all course work you expect to take or courses you expect to take before enrolling at UM. <b>Please have a supplementary transcript sent to the Graduate School when grades are available.</b></p>
		<textarea cols="60" rows="5" id="preenroll_courses" name="application.personal.preenroll_courses" value="" onblur="saveValue(event);">{{application.personal.preenroll_courses}}</textarea>
	</label>

	<div style="clear:both"></div>
</fieldset>

<div style="clear:both"></div>

<fieldset id="disciplinary_violations" name="disciplinary_violations" class="nested">
	<legend>Disciplinary Violations</legend>

	<!-- need additional record functionality -->
	{{ forms.booleanDisplay( {'title':'Have you ever been found responsible for a disciplinary violation at a post-secondary educational institution you have attended (or the international equivalent) whether related to academic misconduct or behavioral misconduct, that resulted in your suspension, removal, dismissal or expulsion from the institution?',
			'name':'disciplinaryViolation-disciplinaryViolationID',
			'value':application.disciplinaryViolation.disciplinaryViolationID,
		} ) }}


	<div style="clear:both"></div>

	<div class="hidden" id="disciplinary_violation_section">
		<div id="{{DVIOLATIONS_LIST}}">
			{{DVIOLATIONS_REPEATABLE}}
		</div>

		<div style="clear:both"></div>

		<button class="button green small add" type="button" onClick="addItem('{{DVIOLATIONS_TABLE_NAME}}'); return false;" title="Add">+ Add Another Incident</button>
	</div> 
	<script type="text/javascript">showOrNot('disciplinary_violation_section',{{DISCIPLINARY_VIOLATION}});</script>

	<div style="clear:both"></div>
</fieldset><!--end fieldset "disciplinary_violations"-->		

<div style="clear:both"></div>

<fieldset id="criminal" name="criminal" class="nested" >
	<legend>Crime Information</legend>

	{{ forms.booleanDisplay( {'title':'Have you ever been convicted of a misdemeanor, felony or other crime, or adjudicated of committing a juvenile crime?',
			'name':'civilViolation-civilViolationsID',
			'value':application.civilViolation.civilViolationsID,
		} ) }}	

	<div class="hidden" id="criminal_violation_section">
		<div id="{{CVIOLATIONS_LIST}}">
			{{CVIOLATIONS_REPEATABLE}}
		</div>	

		<div style="clear:both"></div>

		<button class="button green small add" type="button" onClick="addItem('{{CVIOLATIONS_TABLE_NAME}}'); return false;" title="Add">+ Add Another Incident</button>
	</div> 
	<script type="text/javascript">showOrNot('criminal_violation_section',{{CRIMINAL_VIOLATION}});</script>

	<div style="clear:both"></div>
</fieldset><!-- end fieldset "criminal" -->

<div style="clear:both"></div>





<!-- Updated up to here with refomatting of form fields to functions
	as of Monday 2/10/13
-->

<fieldset id="examinations" name="examinations" class="nested">
	<legend>Examinations</legend>

	<p class="title"><strong>Please have official scores sent directly to the Graduate School from the testing institution:</strong><p>
	<p class="message">For GRE, Educational Testing Service, <a href="http://www.ets.org" class="text_link" target="_blank">www.ets.org</a>, institution code for UM (ORONO): 3916</p>
	<p class="message">For GMAT, Graduate Management Admissions Council, <a href="http://www.mba.com" class="text_link" target="_blank">www.mba.com</a>, institution code for UM (ORONO): 1ZF-RM-41</p>
	<p class="message">For MAT, Harcourt Assessment, <a href="http://www.milleranalogies.com" class="text_link" target="_blank">www.milleranalogies.com</a>, institution code for UM (ORONO): 1278</p>

	<fieldset id="gre" name="gre" class="nested">
		<legend>Graduate Record Exam</legend>

		{{ forms.booleanDisplay( {'title':'Have you taken or plan to take the GRE?',
			'name':'personal-gre_hasTaken',
			'value':application.personal.gre_hasTaken,
		} ) }}
	
		<div style="clear:both"></div>

		<div class="hidden" id="gre_taken_section">
			<div id="{{GRE_LIST}}">
				<input type="hidden" id="gre_count" value="{{GRE_COUNT}}" />
				{{GRE_REPEATABLE}}
			</div>

			<div style="clear:both"></div>

			<button class="button green small add" type="button" onClick="addItem('{{GRE_TABLE_NAME}}'); return false;" title="Add">+ Add Another Score</button>
		</div>
		<script type="text/javascript">showOrNot('gre_taken_section',{{GRE_TAKEN}});</script>

		<div style="clear:both"></div>
	</fieldset><!-- end fieldset "gre" -->
	
	<div style="clear:both;"></div>

	<fieldset id="gmat" name="gmat" class="nested">
		<legend>Graduate Management Admission Test</legend>
				
		{{ forms.booleanDisplay( {'title':'Have you taken or plan to take the GMAT?',
				'name':'personal-gmat_hasTaken',
				'value':application.personal.gmat_hasTaken,
			} ) }}
		
		<div style="clear:both;"></div>

		<div class="hidden" id="gmat_taken_section">
			
			{{ forms.input( {'title':'Date of Exam',
					'name':'personal-gmat_date',
					'value':application.personal.gmat_date,
					'size':14,
					'maxLength':7
				} ) }}

			{{ forms.input( {'title':'Verbal',
					'name':'personal-gmat_verbal',
					'value':application.personal.gmat_verbal,
					'size':2,
					'maxLength':2
				} ) }}

			{{ forms.input( {'title':'Quantitative',
					'name':'personal-gmat_quantitative',
					'value':application.personal.gmat_quantitative,
					'size':2,
					'maxLength':2
				} ) }}

			{{ forms.input( {'title':'Analytical',
					'name':'personal-gmat_analytical',
					'value':application.personal.gmat_analytical,
					'size':3,
					'maxLength':3
				} ) }}	

			{{ forms.input( {'title':'Total Score',
					'name':'personal-gmat_score',
					'value':application.personal.gmat_score,
					'size':3,
					'maxLength':3
				} ) }}

			<div style="clear:both;"></div>

			{{ forms.booleanDisplay( {'title':'Has this score been reported to the University of Maine?',
					'name':'personal-gmat_hasReported',
					'value':application.personal.gmat_hasReported,
					'showOnTrue':false
				} ) }}

		<div style="clear:both"></div>
	</fieldset><!-- end fieldset "gmat" -->

	<div style="clear:both"></div>

	<fieldset id="mat" name="mat" class="nested">
		<legend>Miller Analogies Test</legend>

		{{ forms.booleanDisplay( {'title':'Have you taken or plan to take the MAT?',
				'name':'personal-mat_hasTaken',
				'value':application.personal.mat_hasTaken
				'showOnTrue':false
			} ) }}

		<div style="clear:both;"></div>

		<div class="hidden" id="mat_taken_section">
			
			{{ forms.input( {'title':'Date of Exam',
					'name':'personal-mat_date',
					'value':application.personal.mat_date,
					'size':14,
					'maxLength':7
				} ) }}

			{{ forms.input( {'title':'MAT Score',
					'name':'personal-mat_score',
					'value':application.personal.mat_score,
					'size':3,
					'maxLength':3
				} ) }}
			

			<div style="clear:both;"></div>

			{{ forms.booleanDisplay( {'title':'Has this score been reported to the University of Maine?',
					'name':'personal-mat_hasReported',
					'value':application.personal.mat_hasReported,
					'showOnTrue':false
				} ) }}

			<div style="clear:both"></div>
		</div>
		<script type="text/javascript">showOrNot('mat_taken_section',{{application.personal.mat_hasTaken}});</script>

		<div style="clear:both;"></div>
	</fieldset><!-- end fieldset "mat" -->

	<div style="clear:both;"></div>
</fieldset><!--end fieldset "examinations"-->	

<div style="clear:both"></div>

<fieldset id="work" name="work" class="nested">
	<legend>Work History and Awards</legend>	

	{{ forms.input( {'title':'Present Occupation',
			'name':'personal-presentOccupation',
			'value':application.personal.presentOccupation,
			'size':30,
			'maxLength':30
		} ) }}
		
	<label for="employment_history">
		<p class="title"><b>Employment/Extra-Curricular Activities</b><br />List any employment or other activities related to your proposed program of study. If you have taught, name subjects. List published articles or books, research completed or in progress, or any other creative work.</p>
		<textarea cols="60" rows="5" id="employment_history" name="application.personal.employmentHistory" value="" onblur="saveValue(event);">{{application.personal.employmentHistory}}</textarea>
	</label>

	<label for="academic_honors">
		<p class="title"><b>Honors/Scholarships</b><br />
		List any honors, prizes or scholarships previously awarded to you on the basis of academic achievement, or any honor societies to which you have been elected.</p>
		<textarea cols="60" rows="5" id="academic_honors" name="application.personal.academicHonors" value="" onblur="saveValue(event);">{{application.personal.academicHonors}}</textarea>
	</label>

	<div style="clear:both;"></div>
</fieldset><!-- end fieldset "work" -->

<div style="clear:both;"></div>

	{{ section.buildPager(true, true) }}

<div style="clear:both;"></div>
</fieldset><!-- end fieldset "educational_history" -->
</form>

{% endblock %}