{% extends 'application/section.twig' %}
{% import "application/section.macro.twig" as section %}

{% block form %}

<script>
 function setButtonDisplay(field, ref_online, ref_email_sent) {
 	if( ref_online == '0' ) {
	 	$(field).css('display', 'none');
 	}
 	if (ref_email_sent == '1') { 
 		$(field).addClass('email_sent');
	 	$(field).css('display', 'none'); 		 
 		$(field).parent().children("span.emailSentMessage").text("Email has been sent.");
 	}
 } 
 function requestRecommendation(button, reference) {
 	$.ajax({
 		url: 'scripts/email_reference.php',
 		type: 'POST', 		
 		data: 'reference=' + reference,
 		success: function(data) {
 			if ( data == "SUCCESS: Email Sent") { 
 				$(button).css('display', 'none');
		 		$(button).addClass('email_sent');
 				$(button).parent().children("span.emailSentMessage").text("Email has been sent.");
 			} else {
 				$(button).parent().children("span.emailSentMessage").text(data); 				
 			}
 		}
 	});
 }

 $(document).ready( function() {
 	$('.online-check').click(function () {
 		var button = $(this).parent().parent().parent().parent().children('button.sendEmail');
 		if( $(this).val() == '1' && !$(button).hasClass("email_sent") )  {
	 		button.css('display', 'block');
 		} else {
	 		button.css('display', 'none'); 			
 		}
 	});
 }); 
</script>
<form action="" method="post" id="recommendations" autocomplete="off">
<input type="hidden" id="user_id" value="{{USER}}"/>
<fieldset id="letters_of_recommendation" name="letters_of_recommendation">
	<legend>Letters of Recommendation</legend>
	<span class="required"><p>Fields marked with * are required.</p></span>
	<p class="message">Please list the contact information of three people whom you are requesting to send letters of recommendation. The letters of recommendation must be of recent date and written by people qualified, through personal experience with your academic work, to judge your capacity for advanced study. Recommendations must be sent directly from the recommenders to the Graduate School.</p>
	<fieldset id="viewing_rights" name="viewing_rights" class="nested">
		<legend>Waiver of Viewing Rights</legend>
		
		<label for="waive_view_rights">
			<p class="message">The Family Education Rights and Privacy Act of 1974 (P.L. 93-380) gives students access to information in their application files. However, to ensure the references will be free to write a candid letter of recommendation, an applicant may waive the right to see letters of reference.</p>
			<p class="required title">Please select an option below: *</p>

			<label for="waive_view_rights_yes"><input type="radio" id="waive_view_rights_yes" name="waive_view_rights" value="1" class="waive_view_rights" onchange="saveCheckValue(event);"> Yes, I wish to waive my right to see letters of reference.</label><br />
			<label for="waive_view_rights_no"><input type="radio" id="waive_view_rights_no" name="waive_view_rights" value="0" class="waive_view_rights" onchange="saveCheckValue(event);" /> No, I do not wish to waive my right to see letters of reference.</label>
		</label>
		<script type="text/javascript">checkInitValue('waive_view_rights_yes',"{{WAIVE_VIEW_RIGHTS}}");</script>
		<script type="text/javascript">checkInitValue('waive_view_rights_no',"{{WAIVE_VIEW_RIGHTS}}");</script>
		
		<div style="clear:both"></div>
	</fieldset><!-- end fieldset "viewing_rights" -->

	<div style="clear:both"></div>

	<fieldset id="reference1" name="reference1" class="nested">
		<legend>Recommendation 1</legend>
		<div>
			<div style="clear:both"></div>

			<label for="reference1_online">
				<p class="required title">Will this individual submit a recommendation online? *</p>
				<label for="reference1_online_yes"><input type="radio" class='online-check reference_online' id="reference1_online_yes" name="reference1_online" value="1" onchange="saveCheckValue(event);switchOut(this);" /> Yes</label>
				<label for="reference1_online_no"><input type="radio" class='online-check reference_online' id="reference1_online_no" name="reference1_online" value="0" onchange="saveCheckValue(event);switchOut(this);" /> No</label>
			</label>
			<script type="text/javascript">checkInitValue('reference1_online_yes',"{{REFERENCE1_ONLINE}}");</script>
			<script type="text/javascript">checkInitValue('reference1_online_no',"{{REFERENCE1_ONLINE}}");</script>
		
			<div style="clear:both"></div>

			<p class="message warning">An electronic recommendation form will be emailed to this recommender if you click yes.</p>

			<div style="clear:both"></div>

			{{ forms.input( {'title':'First Name', 
						'name':'reference-firstName',
						'value':reference.firstName,
						'size': 30,
						'maxLength':30,
						'isRequired':true
					} ) }}

			{{ forms.input( {'title':'Last Name', 
						'name':'reference-lastName',
						'value':reference.lastName,
						'size': 30,
						'maxLength':30,
						'isRequired':true
					} ) }}

			
			{{ forms.input( {'title': 'Email',
						'name':'reference-email',
						'value':reference.email,
						'size': 30,
						'isRequired':true
					} ) }}
			
			{{ forms.select( {'title':'Relationship', 
						'name':'reference-relationship',
						'value':reference.relationship,
						'options':reference.options_relationship, 
					} ) }}

			{{ forms.input( {'title':'Phone Number', 
						'name':'reference-phone',
						'value':reference.phone,
						'size': 16,
						'maxLength':16,
					} ) }}


			<div style="clear:both"></div>
		</div>

		<div style="clear:both"></div>

		<fieldset id="reference1_addr" name="reference1_addr" class="nested">
			<legend>Address</legend>
			
			{{ forms.input( {'title':'Street', 
						'name':'reference-addr1',
						'value':reference.addr1,
						'size': 30,
						'maxLength':30,
					} ) }}

			{{ forms.input( {'title':'Additional', 
						'name':'reference-addr2',
						'value':reference.addr2,
						'size': 30,
						'maxLength':30,
					} ) }}

			{{ forms.input( {'title':'City', 
						'name':'reference-city',
						'value':reference.city,
						'size': 30,
						'maxLength':30,
					} ) }}

			{{ forms.select( {'title':'State', 
						'name':'reference-state',
						'value':reference.state,
						'options':reference.options_state,
					} ) }}

			{{ forms.input( {'title':'Postal Code', 
						'name':'reference-postal',
						'value':reference.postal,
						'size': 15,
						'maxLength':15,
					} ) }}

			{{ forms.select( {'title':'Country', 
						'name':'reference-country',
						'value':reference.country,
						'options':reference.options_country,
					} ) }}
			

			
			<div style="clear:both"></div>
		</fieldset><!-- end fieldset "reference1_addr" -->
		<button id='ref1_request' class="sendEmail button green small add" type="button" onclick="requestRecommendation('#ref1_request','reference1'); return false;" title="Add">Email Recommendation Form to Reference</button><span class='emailSentMessage'></span>
		<script type='text/javascript'> setButtonDisplay('#ref1_request', '{{REFERENCE1_ONLINE}}', '{{REFERENCE1_REQUEST_SENT}}'); </script>
		<div style="clear:both"></div>
	</fieldset><!-- end fieldset "reference1" -->

</form>

{% endblock %}
