{% extends "basic_layout.twig" %}

{% block title %}Applications{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{WEBROOT}}/styles/my-applications.css" type="text/css" />
{% endblock %}

{% block content %}

	<a href='{{WEBROOT}}/create-application/1'>Create Degree Application</a>

	<table id='my-Applications'>
		<form>
		</form>
		<thead>
			<tr>
				<td>Type</td>
				<td>Date Started</td>
				<td>Last Modified</td>				
				<td>Status</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for application in applications %}
			<tr>
				<td>{{application.type}}</td>
				<td>{{application.createdDate}}</td>
				<td>{{application.lastModified}}</td>				
				<td>{{application.has_been_submitted}}</td>
				<td>
					<a href='{{WEBROOT}}/edit-application/{{application.id}}'>Edit</a>
					<a href='{{WEBROOT}}/delete-application/{{application.id}}'>Delete</a>

				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}



				
